
.summary-container {
  margin-top: 20px;
  margin-bottom: 50px;
}

.create-tag-or-category-container {
  padding-bottom: 10px;
}

.create-btn {
  width: 150px;
  margin-left: 10px;
}

.date-controller {
  padding-bottom: 10px;
}

.entire-total {
  color: #444;
}
