.contact-header {
  font-size: 3em;
  margin-bottom: 50px;
}

.contact-container {
  margin-top: 70px;
  margin-left: 120px;
  margin-right: 120px;
  font-family: Helvetica, sans-serif;
  color: #333333;
}
